<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
    </head>
    <body>
        <form action="" method="POST">
        {% csrf_token %}
        <div class='bold-line'></div>
        <div class='container'>
        <div class='window'>
            <div class='overlay'></div>
            <div class='content'>
            <div class='welcome'>Hello There!</div>
            <div class='subtitle'>Please input below.</div>
            <div class='input-fields'>
                <input type='To' placeholder='To Who' class='input-line full-width'></input>
                <input type='From' placeholder='From Who' class='input-line full-width'></input>
                <input type='Title' placeholder='Title' class='input-line full-width'></input>
                <input type='Message' placeholder='Message' class='input-line full-width'></input>

            </div>
            <div><button class='ghost-round full-width'>Submit</button></div>
            </div>
        </div>
        </div>
    </form>
    </body>
</html>
