<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Notes</title>
  </head>
  <body>
    {% if notes %} 
        {% for item in notes %}
        <p>
        TO: {{ item.to_who }}
        <br>FROM:  {{ item.from_who }}
        <br>TITLE:  {{ item.title }}
        <br>
        <br>MESSAGE:  
        <br>{{ item.message }}
        <p/>
		{% endfor %}
	{% endif %}
  </body>
</html>