<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Test</title>
  </head>
  <body>
    <table>
      <tr>
        <th>TO</th>
        <th>FROM</th>
        <th>TITLE</th>
        <th>MESSAGE</th>
      </tr>
        {% if notes %} 
		      {% for item in notes %}
          <td>{{item.to_who}}</td>
          <td>{{item.from_who}}</td>
          <td>{{item.title}}</td>
          <td>{{item.message}}</td>
        <tr>
		      {% endfor %}
	      {% endif %}
      <!-- TODO loop from Friend model -->
      <!-- EXAMPLE SECTION -->
      <!-- END SECTION -->
    </table>
  </body>
</html>
